.color-change a{
  color: #777;
}

.margin-box{
  margin-left: 70px;
}

.cont{
  font-family: roboto;
  text-align: left;
  margin-left: 300px;
  margin-right: 300px;
}

ul {

  list-style-type: none;
}
